$primary-color: #000;
$color-white: #fff;
$color-light: #f0efeb;
$color-hover: #727272;
$color-one: #34495E;
$color-two: #ECF0F1;
$color-three: #C0392D;
$color-four: #2980D9;
$f-size-small: 14px;
$f-size-base: 17px;
$f-size-title: 36px;
$f-weight-regular: 400;
$f-weight-bold: 700;
$transition-base: 0.3s;
$transition-default: 0.4s;
$line-h-base: 165%;
$t-align-base: center;