@import '_variables.scss';
@mixin max-screen($res) {
    @media screen and (max-width: $res) {
      @content;
    }
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
.container{
    max-width: 1144px;
    margin: auto;
}
.box{
    max-width: 1064px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    position: relative;
    @include max-screen(1024px){
        padding: 0 20px;  
    }
    @include max-screen(834px){
        grid-template-columns: auto 1fr auto;
    }
    @include max-screen(768px){
        grid-template-columns: 1fr auto 1fr;
    }
    @include max-screen(390px){
        padding: 0 5px; 
        grid-template-columns: auto 1fr auto; 
    }
}
#menu{
    justify-self: start;
    @include max-screen(768px){
        background: $color-white;
	    width: 100vw;
	    height: auto;
	    padding: 50px 0;
	    display: flex;
	    visibility: visible;
	    opacity: 1;
	    justify-content: center;
	    text-align: $t-align-base;
	    border-radius: 3px;
	    transition: all 300ms ease-in-out;
	    position: fixed;
	    top: -100vh;
	    left: 0px;
	    z-index: 9;
	    &.active {
	    	top: 0;
	    }  
    }
    ul{
        display: flex;
        gap: 28px;
        @include max-screen(768px){
            flex-direction: column;
            gap: 0;
            list-style-type: none;
		    padding: 0;
        }
        li{
            list-style: none;
            @include max-screen(768px){
                margin: 10px 0;
            }
            a{
                font-weight: $f-weight-bold;
                font-size: 16px;
                line-height: $line-h-base;
                color: #1c1b1b;
                text-decoration: none;
                &:hover{
                color: silver;
                transition: $transition-base;
                }
            }
        }
    }
}
#toggle {
    display: none;
  
    @include max-screen(768px) {
      display: block;
      position: relative;
      z-index: 1001;
      width: 40px;
      height: 36px;
      flex-shrink: 0;
  
      input {
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        &:checked + span {
          background: transparent;
  
          &::before {
            transform: rotate(45deg);
            top: 0;
          }
  
          &::after {
            transform: rotate(-45deg);
            top: 0;
          }
        }
      }
  
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 2px;
        background: $primary-color;
        transform: translate(-50%, -50%);
        transition: all $transition-base;
        z-index: 1;
  
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: $primary-color;
          left: 0;
          transition: all $transition-base;
        }
  
        &::before {
          top: -10px;
        }
  
        &::after {
          top: 10px;
        }
      }
    }
  }
.logo{
    justify-self: center;
}
.links_right{
    justify-self: end;
    ul{
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        @include max-screen(440px){
            gap: 0;   
        }
        li{
            list-style: none;
        }
    }
}
.item{
    background-color: $color-light;
    margin-bottom: 60px;
}
.item__describe{
    display: flex;
    justify-content: space-between;
    max-width: 1064px;
    margin: 0 auto;
    @include max-screen(1024px){
        padding: 0 20px;   
    }
    @include max-screen(440px){
        display: block;
        text-align: $t-align-base;  
    }
    img{
        margin-bottom: 24px;
        max-width: 100%;
    }
}
.text{
    max-width: 534px;
    padding: 90px 0;
    h1{
        font-weight: $f-weight-bold;
        font-size: 60px;
        color: $primary-color;
    }
    span{
        display: inline-block;
        font-weight: $f-weight-bold;
        font-size: 60px;
        color: $primary-color;
        margin-bottom: 42px;
    }
    p{
        font-weight: $f-weight-regular;
        font-size: 24px;
        color: $primary-color;
        margin-bottom: 34px;
    }
    a{
        font-weight: $f-weight-regular;
        font-size: $f-size-base;
        color: $color-white;
        border: 1px solid $primary-color;
        border-radius: 100px;
        width: 129px;
        height: 36px;
        background-color: $primary-color;
        padding: 8px 23px;
        text-decoration: none;
        transition: $transition-base;
        &:hover{
            background-color: $color-light;
            color: $primary-color;
        }
    }
}
.guides{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 87px;
    text-align: $t-align-base;
    h3{
        font-weight: $f-weight-bold;
        font-size: $f-size-title;
        color: $primary-color;
        margin-bottom: 27px;
    }
    p{
        margin-bottom: 47px;
    }
    p,
    span{
        font-weight: $f-weight-regular;
        font-size: 20px;
        text-align: $t-align-base;
        color: $primary-color; 
    }
}
.our__guides{
    font-weight: $f-weight-bold;
    font-size: $f-size-title;
    text-align: $t-align-base;
    color: $primary-color;
    margin-bottom: 52px;
}
.sellers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 63px;
    margin-bottom: 240px;
}
.best__sellers{
    max-width: 315px;
    text-align: $t-align-base;
    img{
        margin-bottom: 27px;
    }
    h4{
        max-width: 156px;
        font-weight: $f-weight-bold;
        text-align: $t-align-base;
        margin: 0 auto;
        margin-bottom: 17px;
    }
    h4,.best__sellers--price,
    .best__sellers--add{
        font-size: $f-size-base;
        color: $primary-color;
    }
    .best__sellers--price{
        font-weight: $f-weight-regular;
        text-align: $t-align-base;
        margin-bottom: 4px;
    }
    .best__sellers--add{
        display: inline-block;
        font-weight: $f-weight-bold;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        transition: $transition-default;
        &:hover{
            color: $color-hover;
        }
    }
}
.society,
.power{
    display: flex;
    justify-content: center;
    background: rgba(204, 204, 204, 0.3);
    padding: 76px 0 51px;
    gap: 50px;
    @include max-screen(440px){
        display: block;  
        text-align: $t-align-base;
    }
}
.society, .power{
    img{
        max-width: 100%;
    }
}
.society__describe{
    max-width: 498px;
    padding-top: 70px;
}
.power__describe,
.moroccan__describe{
    max-width: 532px;
    padding-top: 103px;
}
.moroccan__describe{
    margin-bottom: 70px;
    @include max-screen(440px){
        padding-top: 0;
        margin-bottom: 40px;
    }
}
.society__title,
.power__title{
    font-weight: $f-weight-bold;
    font-size: $f-size-title;
    color: $primary-color;
    margin-bottom: 31px;
}
.society__text,
.power__text{
    font-weight: $f-weight-regular;
    font-size: $f-size-title;
    color: $primary-color;
    margin-bottom: 40px;
}
.society__link,
.power__link{
    font-weight: $f-weight-bold;
    font-size: $f-size-base;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: $primary-color;
    transition: $transition-default;
        &:hover{
            color: $color-hover;
        }
}
.moroccan{
    display: flex;
    justify-content: center;
    text-align: right;
    gap: 50px;
    background: rgba(204, 204, 204, 0.6);
    padding: 76px 0 51px;
    @include max-screen(440px){
        display: block;  
        text-align: $t-align-base;
    }
    img{
        max-width: 100%;
    }
}
.moroccan__describe{
    h3,p{
        font-size: $f-size-title;
        text-align: right;
        color: $primary-color;
        margin-bottom: 31px;
        @include max-screen(440px){
            text-align: $t-align-base;
            
        }
    }
    h3{
        font-weight: $f-weight-bold;
    }
    p{
        font-weight: $f-weight-regular;
    }
    a{
        display: flex;
        justify-content: flex-end;
        font-weight: $f-weight-bold;
        font-size: $f-size-base;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: $primary-color;
        transition: $transition-default;
        @include max-screen(440px){
            justify-content: center;
        }
        &:hover{
            color: $color-hover;
        }
    }
}
.features{
    padding: 190px 0 0;
}
.features__text{
    font-weight: $f-weight-regular;
    font-size: $f-size-title;
    text-align: $t-align-base;
    color: $primary-color;
    margin-bottom: 70px;
}
.features__wrap{
    max-width: 1088px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 110px 24px;
    margin: 0 auto;
    margin-bottom: 110px;
}
.features__item{
    max-width: 339px;
    width: 100%;
    span{
        display: inherit;
        font-weight: $f-weight-bold;
        font-size: 30px;
        text-align: $t-align-base;
        color: $primary-color;
    }
}
.ball__one,.ball__two,.ball__three,
.ball__four,.ball__five,.ball__six{
    &::before{
        content: "";
        display: block;
        border-radius: 35px;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        margin-bottom: 26px;
    }
}
.ball__one{
    &::before{
        background: #21f7ec;
    }
}
.ball__two{
    &::before{
        background: #33d3bc;
    }
}
.ball__three{
    &::before{
        background: #18a5c6;
    }
}
.ball__four{
    &::before{
        background: #d38f62;
    }
}
.ball__five{
    &::before{
        background: #f94c43;
    }
}
.ball__six{
    &::before{
        background: #d399ff;
    }
}
.interview{
    padding: 52px 0;
    margin-bottom: 79px;
    background: linear-gradient(to bottom, white 47%, $color-light 3%);
    @include max-screen(360px){
        background: linear-gradient(to bottom, white 49%, $color-light 1%);
    }
    @include max-screen(320px){
        background: linear-gradient(to bottom, white 52%, $color-light 48%);
    }
    
}
.interview__title{
    font-weight: $f-weight-bold;
    font-size: $f-size-title;
    text-align: $t-align-base;
    color: $primary-color;
    margin-bottom: 102px;
}
.interview__wrap{
    max-width: 1064px;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 0 auto;
}
.interview__item{
    max-width: 288px;
    text-align: $t-align-base;
    img{
        margin-bottom: 35px;
    }
    p{
        font-weight: $f-weight-bold;
        font-size: 22px;
        letter-spacing: 0.03em;
        text-align: $t-align-base;
        color: $primary-color;
        margin-bottom: 40px;
    }
    span{
        display: inherit;
        font-weight: $f-weight-regular;
        text-align: $t-align-base;
        color: $primary-color;
    }
    .interview__name{
        font-size: 19px;
    }
    .interview__job{
        font-size: 20px;
        margin-bottom: 51px;
    }
    a{
        font-weight: $f-weight-bold;
        font-size: 18px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: $primary-color;
        transition: $transition-default;
        &:hover{
            color: $color-hover;
        }
    }
}
.formpage{
    max-width: 570px;
    margin: 0 auto;
    text-align: $t-align-base;
    h1{
        font-weight: $f-weight-bold;
        font-size: $f-size-title;
        text-align: $t-align-base;
        color: $primary-color;
        margin-bottom: 9px;
    }
    p{
        display: inline-block;
        max-width: 496px;
        font-weight: $f-weight-bold;
        font-size: $f-size-base;
        color: $primary-color;
        margin-bottom: 26px;
    }
}
.formpage__input{
    max-width: 496px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 18px;
    @include max-screen(440px){
        max-width: 366px;
        justify-content: space-between;
    }
    @include max-screen(360px){
        max-width: 300px;
    }
    input{
        width: 153px;
        border: 1px solid $primary-color;
        padding: 12px 8px;
        @include max-screen(360px){
            width: 120px;
        }
        &::placeholder{
            font-weight: $f-weight-regular;
            font-size: $f-size-small;
            color: #a0a0a0;
        }
    } 
}
.formpage__email{
    max-width: 366px;
    width: 100%;
    border: 1px solid $primary-color;
    padding: 12px 8px;
    margin: 0 auto;
    margin-bottom: 16px;
    @include max-screen(360px){
        max-width: 300px;
    }
    &::placeholder{
        font-weight: $f-weight-regular;
        font-size: $f-size-small;
        color: #a0a0a0;
    }
}
.formpage__btn{
    display: inherit;
    margin: 0 auto;
    background: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 100px;
    padding: 8px 23px;
    font-weight: $f-weight-regular;
    font-size: $f-size-small;
    text-align: $t-align-base;
    color: $color-white;
    margin-bottom: 88px;
    transition: $transition-base;
    &:hover{
        background-color: $color-light;
        color: $primary-color;
    }
}
.wrapper{
    background-color: #020202;
    padding: 50px 0 16px 30px;
    @include max-screen(440px){
        padding: 50px 0 16px;
    }
}
.wrapper__footer{
    max-width: 1144px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @include max-screen(440px){
        display: block;  
        text-align: $t-align-base;
    }
}
.wrapper__info{
    .wrapper__logo{
        margin-bottom: 25px;
    }
    .wrapper__social{
        display: flex;
        gap: 20px;
        margin-bottom: 42px;
        @include max-screen(440px){
            justify-content: center;
        }
    }
}
.wrapper__list{
    display: flex;
    margin-bottom: 20px;
    @include max-screen(360px){
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .wrapper__list-about,
    .wrapper__list-contact{
        width: 215px;
        padding: 0 25px;
    }
    h6{
        font-weight: $f-weight-regular;
        font-size: $f-size-small;
        line-height: $line-h-base;
        color: $color-white;
        text-transform: uppercase;
        margin-bottom: 36px;
    }
    li{
        list-style: none;
        line-height: 30px;
    }
    a{
        font-weight: $f-weight-regular;
        font-size: $f-size-small;
        color: $color-white;
        text-decoration: none;
    }
}
.copyright{
    display: flex;
    justify-content: center;
    font-weight: $f-weight-regular;
    font-size: $f-size-small;
    line-height: $line-h-base;
    color: $color-white;
}

