*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
.container{
    max-width: 1440px;
    margin: auto;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    ul{
        display: flex;
        gap: 28px;
        li{
            list-style: none;
            a{
                font-weight: 700;
                font-size: 16px;
                line-height: 165%;
                color: #1c1b1b;
                &:hover{
                color: silver;
                transition: 0.3s;
            }
                text-decoration: none;
            }
        }
    }
}
.links_right{
    ul{
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        li{
            list-style: none;
        }
    }
}
.item{
    display: flex;
    justify-content: space-between;
    background-color: #f0efeb;
}
.text{
    max-width: 534px;
    padding: 90px 0;
    h1{
        font-weight: 700;
        font-size: 60px;
        color: #000;
        margin-bottom: 42px;
    }
    p{
        max-width: 481px;
        font-weight: 400;
        font-size: 24px;
        color: #000;
        margin-bottom: 26px;
    }
    a{
        font-weight: 400;
        font-size: 17px;
        color: #fff;
        border: 1px solid #000;
        border-radius: 100px;
        width: 129px;
        height: 36px;
        background-color: #000;
        padding: 8px 23px;
        text-decoration: none;
    }
}