*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
.container{
    max-width: 1440px;
    margin: auto;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    ul{
        display: flex;
        gap: 28px;
        li{
            list-style: none;
            a{
                font-weight: 700;
                font-size: 16px;
                line-height: 165%;
                color: #1c1b1b;
                &:hover{
                color: silver;
                transition: 0.3s;
            }
                text-decoration: none;
            }
        }
    }
}
.links_right{
    ul{
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        li{
            list-style: none;
        }
    }
}
.item{
    display: flex;
    justify-content: space-between;
    background-color: #f0efeb;
    margin-bottom: 60px;
}
.text{
    max-width: 534px;
    padding: 90px 0;
    h1{
        font-weight: 700;
        font-size: 60px;
        color: #000;
        margin-bottom: 42px;
    }
    p{
        max-width: 481px;
        font-weight: 400;
        font-size: 24px;
        color: #000;
        margin-bottom: 26px;
    }
    a{
        font-weight: 400;
        font-size: 17px;
        color: #fff;
        border: 1px solid #000;
        border-radius: 100px;
        width: 129px;
        height: 36px;
        background-color: #000;
        padding: 8px 23px;
        text-decoration: none;
    }
}
.guides{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 87px;
    h3{
        font-weight: 700;
        font-size: 36px;
        color: #000;
        margin-bottom: 27px;
    }
    p{
        margin-bottom: 47px;
    }
    p,
    span{
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #000; 
    }
}
.our__guides{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #000;
    margin-bottom: 52px;
}
.sellers{
    display: flex;
    justify-content: center;
    gap: 63px;
    margin-bottom: 240px;
}
.best__sellers{
    max-width: 315px;
    text-align: center;
    img{
        margin-bottom: 27px;
    }
    h4{
        max-width: 156px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 17px;
    }
    h4,.best__sellers--price,
    .best__sellers--add{
        font-size: 17px;
        color: #000;
    }
    .best__sellers--price{
        font-weight: 400;
        text-align: center;
        margin-bottom: 4px;
    }
    .best__sellers--add{
        display: inline-block;
        font-weight: 700;
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }
}
.society,
.power{
    display: flex;
    justify-content: center;
    background: rgba(204, 204, 204, 0.3);
    padding: 76px 0 51px;
    gap: 50px;
}
.society__describe{
    max-width: 498px;
    padding-top: 70px;
}
.power__describe,
.moroccan__describe{
    max-width: 532px;
    padding-top: 103px;
}
.society__title,
.power__title{
    font-weight: 700;
    font-size: 36px;
    color: #000;
    margin-bottom: 31px;
}
.society__text,
.power__text{
    font-weight: 400;
    font-size: 36px;
    color: #000;
    margin-bottom: 40px;
}
.society__link,
.power__link{
    font-weight: 700;
    font-size: 17px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #000;
}
.moroccan{
    display: flex;
    justify-content: center;
    gap: 50px;
    background: rgba(204, 204, 204, 0.6);
    padding: 76px 0 51px;
}
.moroccan__describe{
    h3,p{
        font-size: 36px;
        text-align: right;
        color: #000;
        margin-bottom: 31px;
    }
    h3{
        font-weight: 700;
    }
    p{
        font-weight: 400;
    }
    a{
        display: flex;
        justify-content: flex-end;
        font-weight: 700;
        font-size: 17px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #000;
    }
}
.features{
    padding: 190px 0 0;
}
.features__text{
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #000;
    margin-bottom: 70px;
}
.features__wrap{
    max-width: 1088px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 110px 24px;
    margin: 0 auto;
    margin-bottom: 110px;
}
.features__item{
    max-width: 339px;
    width: 100%;
    span{
        display: inherit;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #000;
    }
}
.features__ball{
    border-radius: 35px;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 26px;
}
.one{
    background: #21f7ec;
}
.two{
    background: #33d3bc;
}
.three{
    background: #18a5c6;
}
.four{
    background: #d38f62;
}
.five{
    background: #f94c43;
}
.six{
    background: #d399ff;
}
.interview{
    padding: 52px 0;
    margin-bottom: 79px;
    background: linear-gradient(to bottom, white 47%, #f0f0f0 3%);
}
.interview__title{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #000;
    margin-bottom: 102px;
}
.interview__wrap{
    max-width: 1064px;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 0 auto;
}
.interview__item{
    max-width: 288px;
    text-align: center;
    img{
        margin-bottom: 35px;
    }
    p{
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #000;
        margin-bottom: 40px;
    }
    span{
        display: inherit;
        font-weight: 400;
        text-align: center;
        color: #000;
    }
    .interview__name{
        font-size: 19px;
    }
    .interview__job{
        font-size: 20px;
        margin-bottom: 51px;
    }
    a{
        font-weight: 700;
        font-size: 18px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #000;
    }
}
.formpage{
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
    h1{
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        color: #000;
        margin-bottom: 9px;
    }
    p{
        display: inline-block;
        max-width: 496px;
        font-weight: 700;
        font-size: 17px;
        color: #000;
        margin-bottom: 26px;
    }
}
.formpage__input{
    max-width: 496px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 18px;
    input{
        width: 153px;
        border: 1px solid #000;
        padding: 12px 8px;
        &::placeholder{
            font-weight: 400;
            font-size: 14px;
            color: #a0a0a0;
        }
    } 
}
.formpage__email{
    max-width: 366px;
    width: 100%;
    border: 1px solid #000;
    padding: 12px 8px;
    margin: 0 auto;
    margin-bottom: 16px;
    &::placeholder{
        font-weight: 400;
        font-size: 14px;
        color: #a0a0a0;
    }
}
.formpage__btn{
    display: inherit;
    margin: 0 auto;
    background: #000;
    border: 1px solid #000;
    border-radius: 100px;
    padding: 8px 23px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-bottom: 88px;
}


